  <div class="container min-w-full">
    <div class="md:inline-flex block min-w-full min-h-screen">
      <div class="bg-primary-50 md:w-3/5 w-full px-12">
        <div class="flex flex-col justify-between items-start md:py-12 ">
          <h1
          class="text-7xl font-title font-extrabold text-primary-700 leading-snug md:mt-0 mt-12"
        >
            <a routerLink="/sachem">SaCh'M</a> <br />
          </h1>
          <div class="inline-flex justify-center items-center relative">
            <h2 class="md:text-center text-4xl font-sans font-bold text-primary-400 leading-snug ">
              Agence de communication <br />
            </h2>
            <svg class="absolute bottom-8 -right-12 md:-top-8 md:-right-20" xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="#911011" viewBox="0 0 256 256"><path d="M78,201.3,45.1,228.9A8,8,0,0,1,32,222.8V64a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V192a8,8,0,0,1-8,8H81.7Z" opacity="0.2"></path><path d="M77.4,201.9l-32.3,27A8,8,0,0,1,32,222.8V64a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V192a8,8,0,0,1-8,8H82.5A7.8,7.8,0,0,0,77.4,201.9Z" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
          </div>
  
          <div class="inline-flex typewriter my-8">
            <h2 class="text-2xl font-sans font-semibold text-primary-400 leading-snug pr-2">
              Spécialisée dans la rédaction de contenu <br />
            </h2>
          </div>    
        </div>
        <h3 class="text-2xl font-sans font-semibold text-primary-300 leading-snug">
          10 ans d'expérience, plus de 500 articles publiés,<br/>
        </h3>
        <h3 class="text-2xl font-sans font-semibold text-primary-300 leading-snug">
        à travers la France metropolitaine et les Outre-Mer.
        </h3>
        <div class="flex items-center justify-center">
          <button routerLink="/contact"
            class="my-16 py-6 px-8 bg-secondary-600 hover:bg-secondary-500 rounded-lg leading-none flex items-center text divide-x divide-secondary-50 text-xl shadow-md"
            >
                <span
                    class="text-secondary-50 pr-6 font-sans transition duration-200"
                    >Contactez nous</span
                > 
                <span class="flex items-center space-x-5 pl-6 animate-tilt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fafafa" viewBox="0 0 256 256"><path d="M192,120,136,64l26.3-26.3a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4Z" opacity="0.2"></path><path d="M96,216H48a8,8,0,0,1-8-8V163.3a7.9,7.9,0,0,1,2.3-5.6l120-120a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4Z" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="216 216 96 216 40.5 160.5" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="164" y1="92" x2="68" y2="188" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
                    
                  </span>
            </button>
        </div>
        <div class="block mb-4 md:mb-0">
          <div class="inline-flex">
            <a class="mr-6" href="https://www.facebook.com/Sachem.pro/?pnref=lhc" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#911011" viewBox="0 0 256 256"><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><path d="M168,88H152a23.9,23.9,0,0,0-24,24V224" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="96" y1="144" x2="160" y2="144" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
            </a>
            <a class="mr-6" href="https://www.linkedin.com/in/sandrine-chopot-90831b162/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#911011" viewBox="0 0 256 256"><rect x="36" y="36" width="184" height="184" rx="8" opacity="0.2"></rect><rect x="36" y="36" width="184" height="184" rx="8" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><line x1="120" y1="112" x2="120" y2="176" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="88" y1="112" x2="88" y2="176" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><path d="M120,140a28,28,0,0,1,56,0v36" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><circle cx="88" cy="80" r="12"></circle></svg>
            </a>
          </div>
          
        </div>
      </div>
      <div class="bg-primary-700 md:w-2/5 w-full border-t-4 md:border-t-0 md:border-l-4 border-secondary-500 px-12 pb-12">
        <div class="flex flex-col items-center justify-center mt-12">
          <img class="mt-4 md:mt-0 w-36 rounded-full shadow-md" src="assets/images/portrait.jpeg" alt="greenmag">
          <div class="flex py-4">
            <div class="flex items-start justify-start mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fafafa" viewBox="0 0 256 256"><path d="M108,144H40a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8Z" opacity="0.2"></path><path d="M224,144H156a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8Z" opacity="0.2"></path><path d="M108,144H40a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8v88a40,40,0,0,1-40,40" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><path d="M224,144H156a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8v88a40,40,0,0,1-40,40" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
            </div>
            <p class="text-start text-lg font-sans font-medium text-primary-100 leading-snug">
              Journaux nationaux ou régionaux, formation en communication ou en rédaction, web ou print.<br />
              Nous sommes à votre disposition pour vous aider à créer votre contenu.
            </p>
            <div class="flex items-end justify-end ml-4">
              <svg class="" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fafafa" viewBox="0 0 256 256"><path d="M108,144H40a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8Z" opacity="0.2"></path><path d="M224,144H156a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8Z" opacity="0.2"></path><path d="M108,144H40a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8v88a40,40,0,0,1-40,40" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><path d="M224,144H156a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h60a8,8,0,0,1,8,8v88a40,40,0,0,1-40,40" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
            </div>
          </div>
          <div>
            <h1 class="mr-4 text-2xl font-sans font-semibold text-primary-50 leading-snug">
              <a class="inline-flex items-center justify-center" href="https://www.linkedin.com/in/sandrine-chopot-90831b162/" target="_blank">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fafafa" viewBox="0 0 256 256"><rect x="36" y="36" width="184" height="184" rx="8" opacity="0.2"></rect><rect x="36" y="36" width="184" height="184" rx="8" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><line x1="120" y1="112" x2="120" y2="176" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="88" y1="112" x2="88" y2="176" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><path d="M120,140a28,28,0,0,1,56,0v36" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><circle cx="88" cy="80" r="12"></circle></svg>
                Sandrine CHOPOT <br />
              </a>
            </h1>
            <h2 class="text-lg font-sans font-light text-primary-100 leading-snug text-center">
              Directrice de Sachem.
            </h2>
          </div>
        </div>
        <!-- <div class="block w-full border-dashed border-secondary-500 border-t-2 mt-12"> -->
          <div class="mt-12 flex items-center justify-center">
            <a class="inline-flex justify-center items-center border-2 border-primary-50 border-dashed px-8 py-4 rounded-full hover:bg-primary-600 hover:border-solid" href="/sachem">
              <h3 class="w-64 text-2xl text-center font-sans font-semibold text-primary-50 leading-snug pr-2">
                A propos de SaCh'M
              </h3>
              <svg class="hidden md:block w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fafafa" viewBox="0 0 256 256"><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#fafafa" stroke-miterlimit="10" stroke-width="16"></circle><polyline points="134.1 161.9 168 128 134.1 94.1" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="88" y1="128" x2="168" y2="128" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
            </a>
          </div>
          <div class="mt-12 flex items-center justify-center">
            <a class="inline-flex justify-center items-center border-2 border-primary-50 border-dashed px-8 py-4 rounded-full hover:bg-primary-600 hover:border-solid" href="/articles">
              <h3 class="w-64 text-2xl text-center font-sans font-semibold text-primary-50 leading-snug mr-2">
                Découvrez nos derniers articles
              </h3>
              <svg class="hidden md:block w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fafafa" viewBox="0 0 256 256"><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#fafafa" stroke-miterlimit="10" stroke-width="16"></circle><polyline points="134.1 161.9 168 128 134.1 94.1" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="88" y1="128" x2="168" y2="128" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
            </a>
          </div>
      </div>
    </div>
  </div>
