<div class="container max-w-full max-h-full bg-primary-300">
  <div
    class=" bg-primary-50 py-8 px-4 flex flex-col min-w-screen min-h-screen items-center justify-center"
  >
    <div class="container max-w-md">
      <div
        class="container bg-primary-100 shadow-xl rounded-md px-8 pt-6 pb-8 mb-4"
      >
        <form
          *ngIf="!loginSucess; else logIn"
          (ngSubmit)="onSubmit(formSearch)"
          #formSearch="ngForm"
        >
          <div class="mb-4">
            <label
              class="block text-primary-700 text-sm font-bold mb-2"
              for="username"
            >
              Username
            </label>
            <input
            class="w-full focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 bg-white rounded placeholder-primary-100"
              name="username"
              id="username"
              type="text"
              placeholder="Username"
              aria-label="Username"
              [(ngModel)]="username"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-primary-700 text-sm font-bold mb-2"
              for="password"
            >
              Password
            </label>
            <input
            class="w-full focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 bg-white rounded placeholder-primary-100"
              name="password"
              id="password"
              type="password"
              placeholder="******************"
              aria-label="Password"
              [(ngModel)]="password"
            />
          </div>
          <div class="flex items-center justify-center mt-8">
            <button
              [disabled]="formSearch.invalid"
              class="bg-primary-500 hover:bg-primary-600 text-white font-thin  py-2 px-4 rounded-xl"
              type="submit"
            >
              Log In
            </button>
          </div>
        </form>
        <ng-template #logIn>
          <div class="text-center">
            <h1 class="text-2xl font-bold mb-4">Login Success</h1>
            <p class="text-sm">You are now logged in.</p>
            <p class="text-sm">
              You can now go back to the
              <a class="underline" routerLink="/">home page</a>.
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
