<div class="bg-primary-50 min-w-full min-h-screen">
    <div class="flex flex-col items-center justify-center min-h-screen">
        
        <app-search-articles 
            (articles)="onSearchArticles($event)"
            (updateCurrentPage)="onUpdateCurrentPage($event)">
        </app-search-articles>
        <app-articles class="mb-4" 
            [inputCurrentPage]="currentArticlePage"
            [inputArticles]="articles">
        </app-articles>
        <app-paginate
            [inputCurrentPage]="currentArticlePage"
            [currentMaxPage]="currentCountArticles" 
            (currentPage)="setCurrentArticlePage($event)">
        </app-paginate>
    </div>
</div>