<div class="container max-w-full max-h-full bg-primary-300">
    <div class="bg-primary-50 min-h-screen">
        <div class="py-8 px-8">
            <h1 class="text-3xl font-sans font-bold text-primary-700 leading-snug">
                Sachem
            </h1>
            <h2 class="text-xl font-sans font-thin text-primary-500 leading-normal">
                Implantée à Saint Laurent du Maroni, l'agence accompagne ses clients dans la réalisation de leurs outils de communication interne ou externe :
            </h2>
            <h2 class="text-xl font-sans font-thin text-primary-400 leading-normal my-2">
                Notre coeur de métier:
            </h2> 
            <ul class="list-disc list-inside text-sans font-thin text-primary-300 px-8 py-2">
                
                <li class="py-2">
                    <span class="font-bold">
                        Rédaction de documents
                    </span>
                    
                </li>
                <li  class="py-2">
                    <span class="font-bold">
                        Conseil en communication
                    </span>
                </li>
                <li  class="py-2">
                    <span class="font-bold">
                        Création de site internet
                    </span>
                </li>
                <li  class="py-2">
                    <span class="font-bold">
                        Création d'identité visuelle
                    </span>
                </li>
                <li  class="py-2">
                    <span class="font-bold">
                        Edition publicitaire
                    </span>
                </li>
                <li  class="py-2">
                    <span class="font-bold">
                        Relecture et correction
                    </span>
                    
                </li>
            </ul>
            <h2 class="text-xl font-sans font-thin text-primary-500 leading-normal mt-2">
                Les valeurs environnementales et humaines sont au coeur de notre projet d'entreprise.
            </h2>

        </div>
        <app-upload-file></app-upload-file>
        <div class="mt-12 flex justify-center items-center px-2 py-4">
            <div class="relative group">
                <div
                class="animate-tilt group-hover:duration-200 duration-1000 group-hover:opacity-100 transition absolute inset-0.5 bg-gradient-to-r from-secondary-300 to-secondary-900 rounded-lg blur opacity-85"
                ></div>
                <button routerLink="/contact"
                class="relative py-4 px-6 bg-secondary-600 hover:bg-secondary-600 rounded-lg leading-none flex items-center text divide-x divide-secondary-50"
                >
                    <span
                        class="text-secondary-50 pr-6 font-sans transition duration-200"
                        >Contactez nous</span
                    > 
                    <span class="flex items-center space-x-5 pl-6 animate-tilt">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fafafa" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M192,120,136,64l26.3-26.3a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4Z" opacity="0.2"></path><path d="M96,216H48a8,8,0,0,1-8-8V163.3a7.9,7.9,0,0,1,2.3-5.6l120-120a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4Z" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="216 216 96 216 40.5 160.5" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="164" y1="92" x2="68" y2="188" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
                       
                      </span>
                </button>
            </div>
    </div>
</div>