<div class="container min-h-screen max-w-full bg-primary-50">
    <div class="flex items-center justify-center min-h-screen">
      <div
        class=" bg-primary-50 border-dashed border-primary-700 border-2 rounded-xl py-8 px-12 shadow-xl md:m-4 m-6"
      >
        <p
          class="md:text-3xl mb-6 text-xl font-bold leading-snug text-center text-primary-700 inline-flex justify-center items-center"
        >
          Envie de travailler avec nous 
          <svg class="ml-8" xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#911011" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polygon points="224 96 145.5 152 110.5 152 32 96 128 32 224 96" opacity="0.2"></polygon><path d="M32,96V200a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V96L128,32Z" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="110.5" y1="152" x2="34.5" y2="205.7" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="221.5" y1="205.7" x2="145.5" y2="152" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="224 96 145.5 152 110.5 152 32 96" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
        </p>
          <form method="POST" (ngSubmit)="onSubmit(formContact)" #formContact="ngForm">
            <div class="md:flex items-center">
              <div class="md:w-72 flex flex-col">
                <label *ngIf="correctName; else wrongName;" for="name" class="text-base font-semibold leading-none text-primary-800"
                  > Nom *</label
                >
                <ng-template #wrongName>
                  <label for="name" class="text-base leading-none text-red-500 font-extrabold italic"
                  > Nom *</label
                >
                </ng-template>
                <input
                  class="focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 bg-white rounded placeholder-primary-100"
                  name="name"
                  id="name"
                  type="text"
                  maxlength="25"
                  minlength="2"
                  placeholder="Compléter votre nom"
                  arial-label="name"
                  (keyup)="onKeyUp('name')"
                  required
                  #prmName = "ngModel"
                  [(ngModel)]="name"
                />
              </div>
              <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                <label *ngIf="correctMail; else wrongMail;" for="mail" class="text-base font-semibold leading-none text-primary-800"
                  > Mail *</label
                >
                <ng-template #wrongMail>
                  <label for="mail" class="text-base leading-none text-red-500 font-extrabold"
                  > Mail *</label
                >
                </ng-template>
                <input
                
                  class="focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 bg-white rounded placeholder-primary-100"
                  name="email"
                  id="email"
                  type="email"
                  minlength="5"
                  maxlength="100"
                  placeholder="Compléter votre email"
                  arial-label="email"
                  (keyup)="onKeyUp('email')"
                  required
                  email #prmEmail = "ngModel"
                  [(ngModel)]="email"
                />
              </div>
            </div>  
            <div class="md:flex items-center mt-8">
              <div class="md:w-72 flex flex-col">
                <label *ngIf="correctCompany; else wrongCompany;" for="company" class="text-base font-semibold leading-none text-primary-800"
                  > Entreprise *</label
                >
                <ng-template #wrongCompany>
                  <label for="company" class="text-base leading-none text-red-500 font-extrabold italic"
                  > Entreprise *</label
                >
                </ng-template>
                
                <input
                  class=" focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 bg-white rounded placeholder-primary-100"
                  name="company"
                  id="company"
                  type="text"
                  minlength="2"
                  maxlength="100"
                  placeholder="Nom de votre entreprise"
                  arial-label="company"
                  (keyup)="onKeyUp('company')"
                  required
                  #prmCompany = "ngModel"
                  [(ngModel)]="company"
                />
              </div>
            </div>
            <div>
              <div class="w-full flex flex-col mt-8">
                <label *ngIf="correctMessage; else wrongMessage;" for="prmMessage" class="text-base font-semibold leading-none text-primary-800"
                  > Message *</label
                >
                <ng-template #wrongMessage>
                  <label for="message" class="text-base leading-none text-red-500 font-extrabold italic"
                  > Message *</label
                >
                </ng-template>
                <textarea
                class=" outline-none h-36 text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 rounded focus:ring-2 focus:ring-primary-700  border-primary-200 placeholder-primary-100 resize-none bg-white"
                name="message"
                required
                id="message"
                type="text"
                minlength="2"
                maxlength="500"
                placeholder="Entrer votre message"
                aria-label="Message"
                (keyup)="onKeyUp('message')"
                #prmMessage = "ngModel"
                [(ngModel)]="message"
                ></textarea>
              </div>
            </div>
            
            <div class="flex items-center justify-center w-full mt-12">
              
              <button
              *ngIf="!waitResponse; else responseDone"
              [disabled]="(formContact.invalid) || waitResponse || isDisabled"
              type = "submit"
              class="relative py-4 px-6 disabled:bg-primary-100 disabled:hover:bg-primary-100 bg-secondary-600 hover:bg-secondary-500 rounded-lg leading-none flex items-center text divide-x divide-secondary-50"
              >
                  <span
                      class="text-secondary-50 pr-6 font-sans transition duration-200"
                      > Envoyez</span
                  > 
                  <span class="flex items-center space-x-5 pl-6">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fafafa" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M88,134.9,224.1,36.6h0a7.8,7.8,0,0,0-6.2-.2L33.3,108.9c-7.4,2.9-6.4,13.7,1.4,15.3Z" opacity="0.2"></path><path d="M132.9,174.4l-31.2,31.2A8,8,0,0,1,88,200V134.9Z" opacity="0.2"></path><path d="M88,134.9,177.9,214a8,8,0,0,0,13.1-4.2L228.6,45.6a8,8,0,0,0-10.7-9.2L33.3,108.9c-7.4,2.9-6.4,13.7,1.4,15.3Z" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="88" y1="134.9" x2="224.1" y2="36.6" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><path d="M132.9,174.4l-31.2,31.2A8,8,0,0,1,88,200V134.9" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
                    </span>
              </button>
              <ng-template #responseDone>
              
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fafafa" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" opacity="0.2"></circle><polyline points="172 104 113.3 160 84 132" fill="none" stroke="#901011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><circle cx="128" cy="128" r="96" fill="none" stroke="#901011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle></svg>
              </ng-template>
            </div>
            <div 
              *ngIf="prmName.errors?.['minlength'] && prmName.touched"
              class="text-base font-thin text-primary-800 leading-none mt-8">
              * Veuillez complèter votre nom
            </div>
            <div 
              *ngIf="prmEmail.errors?.['email'] && prmEmail.touched"
              class="text-base font-thin text-primary-800 leading-none mt-8">
              * Veuillez utiliser un email valide
            </div>
            <div 
              *ngIf="prmMessage.errors?.['minlength'] && prmMessage.touched"
              class="text-base font-thin text-primary-800 leading-none mt-8">
              * Veuillez complèter votre message
            </div>
            <div 
              *ngIf="prmCompany.errors?.['minlength'] && prmCompany.touched"
              class="text-base font-thin text-primary-800 leading-none mt-8">
              * Veuillez complèter votre entreprise
            </div>
          </form> 
      </div>
    </div>
  </div>
