<div class="bg-slate-300 py-8 px-4 flex flex-col min-w-screen min-h-screen">
  <h1 class="font-extrabold text-slate-500">- Albums details -</h1>
    <div class="flex flex-col justify-start">
      <h2 class="px-1 py-2 font-bold text-gray-600">
        Title: <a routerLink="/description"> <span class="font-thin text-gray-500">{{ album.title }}</span></a>
      </h2>
      <h2 class="px-1 py-2 font-bold text-gray-600">
        Name: <span class="font-thin text-gray-500">{{ album.name }}</span>
      </h2>
      <h2 class="px-1 py-2 font-bold text-gray-600">
        Description:
        <span class="font-thin text-gray-500">{{ album.description }}</span>
      </h2>
      <h2 class="px-1 py-2 font-bold text-gray-600">
        Duration:
        <span class="font-thin text-gray-500">{{ album.duration }}</span>
      </h2>
      <h2 *ngIf="album.like" class="px-1 py-2 font-bold text-gray-600">
        Like: <span class="font-thin text-gray-500">{{ album.like }}</span>
      </h2>
      <h2 *ngIf="album.tags" class="px-1 py-2 font-bold text-gray-600">
        Tags: <span class="font-thin text-gray-500">{{ album.tags }}</span>
      </h2>
    </div>
    
    
</div>