
<div class="bg-black text-white flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12>" fill="#fafafa" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M228.1,121.2,84.2,33.2A8,8,0,0,0,72,40V216a8,8,0,0,0,12.2,6.8l143.9-88A7.9,7.9,0,0,0,228.1,121.2Z" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></path></svg>
    <h2 class="flex ml-2" *ngIf="albumPlaying; else notPlaying">
        Playing:
        <h3 class="ml-2">
             {{ albumPlaying.name }}
        </h3>
    </h2>
    <ng-template #notPlaying>
        Not Playing
    </ng-template>
</div>
<div class="bg-slate-300">
    <app-albums [currentPage]= "currentAlbumPage" (onPlay)="onPlay($event)"></app-albums>
    <app-paginate (currentPage)="setCurrentAlbumPage($event)"></app-paginate>
</div>


