<nav class="bg-secondary-600 px-8 py-2">
  <ul class="flex items-center justify-between mt-0 text-sm font-medium">
    <div class="flex justify-center items-center">
      <li>
        <a
          routerLink="/main"
          class="block py-2 pr-4 pl-3 font-sans border-transparent text-primary-50 hover:text-primary-100 border-b-2 hover:border-primary-100 bg-transparent"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/sachem"
          class="block py-2 pr-4 pl-3 font-sans border-transparent text-primary-50 hover:text-primary-100 border-b-2 hover:border-primary-100 bg-transparent"
          >SaCh'm</a
        >
      </li>
      <li>
        <a
          routerLink="/articles"
          class="block py-2 pr-4 pl-3 font-sans border-transparent text-primary-50 hover:text-primary-100 border-b-2 hover:border-primary-100 bg-transparent"
          >Articles</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          class="block py-2 pr-4 pl-3 font-sans border-transparent text-primary-50 hover:text-primary-100 border-b-2 hover:border-primary-100 bg-transparent"
          >Contact</a
        >
      </li>
    </div>

    <li>
      <a
        *ngIf="!loggedIn; else isLoggedIn"
        routerLink="/login"
        class="block py-2 pr-4 pl-3 font-sans text-slate-50 border-b-2 border-transparent hover:border-slate-100 hover:text-slate-100 bg-transparent"
        >Login</a
      >
      <ng-template #isLoggedIn>
        <a
        routerLink="/login"
        class="block py-2 pr-4 pl-3 font-sans text-slate-50 border-b-2 border-transparent hover:border-slate-100 hover:text-slate-100 bg-transparent"
        >{{ logInName }}</a
      >
      </ng-template>
    </li>
  </ul>
</nav>
