<nav class="bg-slate-500 px-8 py-2">
  <ul class="flex items-center justify-between mt-0 text-sm font-medium">
    <div class="flex justify-center items-center">
      <li>
        <a
          routerLink="/main"
          class="block py-2 pr-4 pl-3 border-transparent text-slate-100 hover:text-slate-100 border-b-2 hover:border-slate-100 bg-transparent"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/sachem"
          class="block py-2 pr-4 pl-3 border-transparent text-slate-100 hover:text-slate-100 border-b-2 hover:border-slate-100 bg-transparent"
          >Sachem</a
        >
      </li>
      <li>
        <a
          routerLink="/articles"
          class="block py-2 pr-4 pl-3 border-transparent text-slate-100 hover:text-slate-100 border-b-2 hover:border-slate-100 bg-transparent"
          >Articles</a
        >
      </li>
      <li>
        <a
          routerLink="/articles"
          class="block py-2 pr-4 pl-3 border-transparent text-slate-100 hover:text-slate-100 border-b-2 hover:border-slate-100 bg-transparent"
          >Contact</a
        >
      </li>
    </div>

    <li>
      <a
        routerLink="/login"
        class="block py-2 pr-4 pl-3 text-slate-50 border-b-2 border-transparent hover:border-slate-100 hover:text-slate-100 bg-transparent"
        >Login</a
      >
    </li>
  </ul>
</nav>
