<div class="container md:w-138 bg-primary-50 rounded-lg shadow-xl">   
        <img class="md:object-cover object-center md:w-138 md:h-[288px] rounded-t-lg bg-primary-50" src="{{article.imageName}}" alt="Syncing" />
    <div class="block md:w-138 md:h-92 bg-primary-800 opacity-40 text-left rounded-b-lg px-4 py-8">
        <h2 class="md:h-12 px-1 py-2 font-bold text-white">
        Titre:
        <span class="font-thin text-white">{{ article.title }}</span>
        </h2>
        <h2 class="md:h-36 px-1 py-2 font-bold text-white">
        Description:
        <span class="font-thin text-white">{{ article.description }}</span>
        </h2>
        <h2 class="px-1 py-2 font-bold text-white">
        Date de publication:
        <span class="font-thin text-white">{{ article.creationDate | date :'dd/MM/YYYY' }}</span>
        </h2>
        <h2 class="md:h-14 px-1 py-2 font-bold text-white">
        Télécharger l'article complet:
        <a class="font-thin text-primary-100 underline" target="_blank" href="{{ article.fileName }}" download> {{ article.title }} </a>
        </h2>
    </div>
</div>
