<nav class="bg-secondary-600 px-8 py-2 min-w-full">
  <ul class="flex items-center justify-between mt-0 text-sm font-medium">
    <div class="flex justify-center items-center">
      <li>
        <a
          routerLink="/main"
          class="block text-sm py-2 pr-4 pl-3 font-sans border-transparent text-primary-50 hover:text-primary-100 border-b-2 hover:border-primary-100 bg-transparent"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/sachem"
          class="block text-sm py-2 pr-4 pl-3 font-sans border-transparent text-primary-50 hover:text-primary-100 border-b-2 hover:border-primary-100 bg-transparent"
          >SaCh'm</a
        >
      </li>
      <li>
        <a
          routerLink="/articles"
          class="block text-sm py-2 pr-4 pl-3 font-sans border-transparent text-primary-50 hover:text-primary-100 border-b-2 hover:border-primary-100 bg-transparent"
          >Articles</a
        >
      </li>
      
    </div>
    <div>
      <li>
        <button routerLink="/contact"
              class=" py-2 px-4 bg-primary-600 hover:bg-primary-500 rounded-lg leading-none flex items-center text divide-x divide-secondary-50 text-xl shadow-md"
              >
                  <span
                      class="text-secondary-50 pr-6 text-sm font-sans transition duration-200"
                      >Contactez nous</span
                  > 
                  <span class="flex items-center space-x-5 pl-6 animate-tilt">
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fafafa" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M192,120,136,64l26.3-26.3a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4Z" opacity="0.2"></path><path d="M96,216H48a8,8,0,0,1-8-8V163.3a7.9,7.9,0,0,1,2.3-5.6l120-120a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4Z" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="216 216 96 216 40.5 160.5" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="164" y1="92" x2="68" y2="188" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg> -->
                      <svg class="hidden md:block w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fafafa" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#fafafa" stroke-miterlimit="10" stroke-width="16"></circle><polyline points="134.1 161.9 168 128 134.1 94.1" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="88" y1="128" x2="168" y2="128" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>

                    </span>
              </button>
          
      </li>
  
      <li>
          <a
          *ngIf="loggedIn;"
          routerLink="/login"
          class="break-all block w-16 md:w-24 py-2 mr-4 pl-3 font-sans text-slate-50 border-b-2 border-transparent hover:border-slate-100 hover:text-slate-100 bg-transparent"
          >
          {{ logInName }}</a
        >
      </li>

    </div>
    
  </ul>
</nav>
