<div class="container max-w-md mx-auto">
  <div class="py-8 px-4">
    <h1 class="font-serif font-extrabold text-center text-slate-800">
      {{ titlePage }}
    </h1>
    <h2 class="font-serif font-bold text-center text-slate-700">
      {{ count }} albums availables
    </h2>
    <div class="flex items-center justify-center py-4 px-4">
      <form (ngSubmit)="onSubmit(formSearch)" #formSearch="ngForm">
        <input
          class="font-thin text-slate-500 px-2"
          name="word"
          ngModel
          required
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          [disabled]="formSearch.invalid"
          class="bg-slate-500 hover:bg-slate-600 text-white font-thin ml-2 py-2 px-4 rounded-xl"
          type="submit"
        >
          Search
        </button>
      </form>
  </div>
  <div *ngIf="searchFound > 0; else nothingFound">
    <div class="flex items-center justify-center py-4 px-4">
        <h2 class="font-serif font-bold text-center text-slate-700">
            {{ searchFound }} albums found
        </h2>
    </div>
  </div>
 
</div>
<ng-template #nothingFound>
    <div class="flex items-center justify-center py-4 px-4">
        <h2 class="font-serif font-bold text-center text-slate-700">
        No albums found
        </h2>
    </div>
</ng-template>
  <div class="py-4 px-4 text-center text-slate-600">
    <h1 class="font-serif text-center text-slate-700 font-bold uppercase">
      selected album
    </h1>
    <app-album-details
      *ngIf="selectedAlbum; else elseAlbum"
      [album]="selectedAlbum"
    ></app-album-details>
    <ng-template #elseAlbum> Nothing selected</ng-template>
  </div>
  <div class="flex items-center justify-center rounded-md">
    <ul class="grid grid-cols-1 place-content-center max-w-md">
      <li
        (click)="onClick(album)"
        class="col-span-1 mb-4 px-4 py-8 bg-slate-100 shadow-md"
        *ngFor="let album of albums"
      >
        <h2 class="px-1 py-2 font-bold text-gray-600">
          Title: <span class="font-thin text-gray-500">{{ album.title }}</span>
        </h2>
        <h2 class="px-1 py-2 font-bold text-gray-600">
          Name: <span class="font-thin text-gray-500">{{ album.name }}</span>
        </h2>
        <h2 class="px-1 py-2 font-bold text-gray-600">
          Description:
          <span class="font-thin text-gray-500">{{ album.description }}</span>
        </h2>
        <h2 class="px-1 py-2 font-bold text-gray-600">
          Duration:
          <span class="font-thin text-gray-500">{{ album.duration }}</span>
        </h2>
        <h2 *ngIf="album.like" class="px-1 py-2 font-bold text-gray-600">
          Like: <span class="font-thin text-gray-500">{{ album.like }}</span>
        </h2>
        <h2 *ngIf="album.tags" class="px-1 py-2 font-bold text-gray-600">
          Tags: <span class="font-thin text-gray-500">{{ album.tags }}</span>
        </h2>
      </li>
    </ul>
  </div>
</div>
