<div class="container max-w-full bg-primary-50 mt-0">
  <div class="bg-primary-50 min-h-screen w-full">
      <div class="flex items-center justify-center pt-10">
        <div
          class=" bg-primary-50 border-dashed border-primary-700 border-2 rounded-xl py-12 lg:px-28 px-8"
        >
          <p
            class="md:text-3xl text-xl font-bold leading-7 text-center text-primary-700 inline-flex justify-center items-center"
          >
            Contactez nous 
            <svg class="ml-8" xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#911011" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polygon points="224 96 145.5 152 110.5 152 32 96 128 32 224 96" opacity="0.2"></polygon><path d="M32,96V200a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V96L128,32Z" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="110.5" y1="152" x2="34.5" y2="205.7" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="221.5" y1="205.7" x2="145.5" y2="152" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="224 96 145.5 152 110.5 152 32 96" fill="none" stroke="#911011" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
          </p>
          <div class="md:flex items-center mt-12">
            <div class="md:w-72 flex flex-col">
              <label class="text-base font-semibold leading-none text-primary-800"
                >Nom *</label
              >
              <input
                tabindex="0"
                arial-label="Please input name"
                type="name"
                class="focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 bg-white rounded placeholder-primary-100"
                placeholder="Compléter votre nom"
              />
            </div>
            <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
              <label class="text-base font-semibold leading-none text-primary-800"
                >Email *</label
              >
              <input
                tabindex="0"
                arial-label="Please input email address"
                type="name"
                class="focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 bg-white rounded placeholder-primary-100"
                placeholder="Compléter votre email"
              />
            </div>
          </div>
          <div class="md:flex items-center mt-8">
            <div class="md:w-72 flex flex-col">
              <label class="text-base font-semibold leading-none text-primary-800"
                > Entreprise *</label
              >
              <input
                tabindex="0"
                role="input"
                arial-label="Please input company name"
                type="name"
                class=" focus:ring-2 focus:ring-primary-700 outline-none text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 bg-white rounded placeholder-primary-100"
                placeholder="Compléter votre entreprise"
              />
            </div>
          </div>
          <div>
            <div class="w-full flex flex-col mt-8">
              <label class="text-base font-semibold leading-none text-primary-800"
                >Message *</label
              >
              <textarea
                tabindex="0"
                aria-label="leave a message"
                role="textbox"
                type="name"
                class=" outline-none h-36 text-base leading-none text-primary-900 p-3 focus:oultine-none focus:border-primary-700 mt-4 rounded focus:ring-2 focus:ring-primary-700  border-primary-200 placeholder-primary-100 resize-none bg-white"
              ></textarea>
            </div>
          </div>

          <div class="flex items-center justify-center w-full mt-12">
            <button
            class="relative py-4 px-6 bg-secondary-600 hover:bg-secondary-600 rounded-lg leading-none flex items-center text divide-x divide-secondary-50"
            >
                <span
                    class="text-secondary-50 pr-6 font-sans transition duration-200"
                    > Envoyez</span
                > 
                <span class="flex items-center space-x-5 pl-6 animate-tilt">
                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fafafa" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M88,134.9,224.1,36.6h0a7.8,7.8,0,0,0-6.2-.2L33.3,108.9c-7.4,2.9-6.4,13.7,1.4,15.3Z" opacity="0.2"></path><path d="M132.9,174.4l-31.2,31.2A8,8,0,0,1,88,200V134.9Z" opacity="0.2"></path><path d="M88,134.9,177.9,214a8,8,0,0,0,13.1-4.2L228.6,45.6a8,8,0,0,0-10.7-9.2L33.3,108.9c-7.4,2.9-6.4,13.7,1.4,15.3Z" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><line x1="88" y1="134.9" x2="224.1" y2="36.6" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><path d="M132.9,174.4l-31.2,31.2A8,8,0,0,1,88,200V134.9" fill="none" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
                 </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
